* {
    box-sizing: border-box;;
}

body {
    margin: 0;
}

.container h1 {
    margin: 2rem;
}

.container input {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid  rgb(78, 9, 143);
    width: 100%;
    color:rgb(49, 49, 49)

}

.container a {
    text-decoration: none;
} 

.container .list-header {
    background-color: rgb(218, 206, 230);
    list-style: none;
    padding-left: 1rem;
}